.resultadodados {
    font-size: 3em;
    text-align: center;
}
.resultadotexto {
    font-size: 2em;
    text-align: center;
}
.ganar {
    font-size: 2em;
    text-align: center;
    color: #12a105;
}
.perder {
    font-size: 2em;
    text-align: center;
    color: #a10512;
}